:root {
  background-color: rgb(2, 135, 135);
}

.App {
  display: grid;
  grid-template-areas: 
    "game title"
    "game controls"
    "game controls";
  grid-template-columns: repeat(2, 1fr);
  justify-self: center;
  margin: auto;
}

h1 {
  text-align: center;
  grid-area: title;
}

.board {
  border: 10px ridge rgba(245, 57, 57, 0.67);
  user-select: none;
  margin: auto;
  grid-area: game;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  aspect-ratio: 1;
  border: 1px solid black;
}

.cell.Empty {
  background-color: rgb(200, 200, 200);
}

.cell.I {
  background-color: rgb(201, 219, 7);

}

.cell.J {
  background-color: rgb(181, 5, 5);

}

.cell.L {
  background-color: rgb(100, 8, 213);

}

.cell.O {
  background-color: rgb(13, 168, 192);

}

.cell.S {
  background-color: rgb(168, 102, 11);

}

.cell.T {
  background-color: rgb(6, 230, 92);

}

.cell.Z {
  background-color: rgb(209, 8, 115);

}

.controls {
  text-align: center;
  grid-area: controls;
  display: flex;
  flex-direction: column;
}

.upcoming {
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-around;
  gap: 10px;
}

.cell.hidden {
  visibility: hidden;
}

div.high-scores ol {
  justify-items: center;
}

button.new-game {
  width: fit-content;
  border-radius: 20px;
  margin-top: auto;
  background: rgba(245, 93, 93, 0.627);
  align-self: center;
}

button.new-game:hover {
  background: rgba(186, 62, 62, 0.707);
}