:root {
  background-color: rgb(2, 135, 135);
}

.App {
  display: grid;
  grid-template-areas: 
    "game title"
    "game controls"
    "game .";
  grid-template-columns: repeat(3, 1fr);
}

h1 {
  text-align: center;
  grid-area: title;
}

.board {
  border: 2px solid black;
  user-select: none;
  margin: auto;
  grid-area: game;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  aspect-ratio: 1;
  border: 1px solid black;
}

.cell.Empty {
  background-color: rgb(200, 200, 200);
}

.cell.I {
  background-color: rgb(201, 219, 7);

}

.cell.J {
  background-color: rgb(181, 5, 5);

}

.cell.L {
  background-color: rgb(100, 8, 213);

}

.cell.O {
  background-color: rgb(13, 168, 192);

}

.cell.S {
  background-color: rgb(168, 102, 11);

}

.cell.T {
  background-color: rgb(6, 230, 92);

}

.cell.Z {
  background-color: rgb(209, 8, 115);

}

.controls {
  text-align: center;
  grid-area: controls;
}

.upcoming {
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-around;
  gap: 10px;
}

.cell.hidden {
  visibility: hidden;
}
